@model List<MVCDareDevils.Models.EmployeeModel>
@{
    ViewBag.Title = "MyfavoriteDay6";
}

<h2>MyfavoriteDay6</h2>


<table class="table table-condensed">
    <tr>
        <th>EmpId</th>
        <th>EmpName</th>
        <th>EmpSalary</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.EmpId</td>
            <td>@item.EmpName</td>
            <td>@item.EmpSalary</td>
        </tr>
    }
</table>


@section mySection
{
    <ul>
        <li>Mobile</li>
        <li>Ear phones</li>
        <li>Power Bank</li>
        <li>blue tooth</li>
    </ul>
}