
@{
    ViewBag.Title = "MyView";
}


<h1>Namrata(Didi) and Lakshmi are sisters</h1>

@section mySection
{
    <ul>
    <li>Mobile</li>
    <li>Ear phones</li>
    <li>Power Bank</li>
    <li>blue tooth</li>
</ul>
}